<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.psu.sweng888.androiduiandlogin_castellucci">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:label="@string/activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginSuccessActivity"
            android:label="@string/activity_login_success" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/activity_signup" />
        <activity
            android:name=".ViewAllUsersActivity"
            android:label="@string/activity_view_all_users" />
    </application>

</manifest>